body{
	background-color: #ffffff;
	color: #000000;
}

.bit{
	background-color: #b52b2b;
	position: relative;
	padding: 10px;
	margin: 5px;
	border-width: 0;
}

#compile{
	background-color: #8dd181;
	position: relative;
	padding: 10px;
	margin: 5px;
	border-width: 0;
}

/*
green: 42a327;
red: b52b2b;
*/