body{
	background-color: #ffffff;
	color: #000000;
}

.bit{
	background-color: #b52b2b;
	position: relative;
	padding: 10px;
	margin: 5px;
	border-width: 0;
}

#compile{
	background-color: #8dd181;
	position: relative;
	padding: 10px;
	margin: 5px;
	border-width: 0;
}

#bitSwitches{
	border: solid;
	border-width: 1px;
	border-color: #000000;
	margin: 10px;
}

#cheatSheet{
	border: solid;
	border-width: 1px;
	border-color: #000000;
	margin: 10px;
}

#results{
	border: solid;
	border-width: 1px;
	border-color: #000000;
	margin: 10px;
}
